/* Work Sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;

}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.text-light-gray {
    color: rgb(114, 114, 114);
}

.btn-primary {
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}

.btn-primary:hover {
    background: rgba(112, 12, 67, 0.973);
    color: rgb(240, 255, 255);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: rgb(153, 0, 0);
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

nav li:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

nav a:hover {
    color: #b30059;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: rgb(102, 0, 102);
}

.banner-description {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 80px;
}

.teams-img-container img:hover {
    border: 3px solid rgb(153, 0, 153);
    border-radius: 16px;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    font-weight: 500;
}

.teams-title .text-feature {
    color: rgb(255, 144, 14);
    font-weight: 700;
}

/* feature section style */
.features {
    margin: 130px 10px 0;
    display: flex;
    gap: 50px;
}

.features .section-title {
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20px;
}

.feature-content {
    margin-left: 30px;
    margin-bottom: 30px;
}

.feature-content h3 {
    max-width: 80%;
}

.feature-content .card {
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

.feature-content .card:hover {
    background-color: rgb(128, 255, 229);
    color: rgb(255, 0, 64);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.feature-content .card p:hover,
.facts-card-container .card p:hover {
    color: rgb(153, 0, 153);
}

.feature-img img {
    width: 700px;
    height: 90%;
    margin-left: 20px;
}

.ten-year-badge {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    width: 340px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten-year-badge h2 {
    font-size: 4rem;
    margin: 0;
}

.ten-year-badge p {
    font-size: 1.5rem;
}

.ten-year-badge:hover {
    background: rgb(204, 0, 102);
    color: rgb(240, 255, 255);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* facts section style */
.facts {
    margin-left: 50px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 180px;
    padding: 30px;
}

.facts-card-container .card:hover {
    background-color: rgb(153, 255, 214);
    border: 1px solid rgb(153, 0, 51);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: rgb(66, 66, 66);
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

/* sponsors section style*/
.sponsors {
    text-align: center;
}

.sponsors p {
    max-width: 60%;
    margin-left: 260px;
}

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.sponsors-img-container img {
    width: 165px;
}

.sponsors-img-container img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* footer styles */
.footer {
    border-radius: 8px;
    background: rgb(255, 244, 231);
}

.footer:hover {
    background: rgb(255, 128, 179);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.footer-title {
    padding: 40px;
    color: rgb(66, 66, 66);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

.footer-title:hover {
    color: rgb(240, 255, 255);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.sponsors-img-container,
.footer {
    width: 100%;
    max-width: 1050px;
    margin: 100px auto;
}

/* responsive media queries */
/* mobile devices */
@media screen and (max-width:576px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: left;
        align-items: flex-start;
    }

    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    nav {
        justify-content: left;
        align-items: flex-start;
    }

    nav>ul {
        margin-left: -20px;
    }

    .banner-content {
        text-align: left;
    }

    .banner-title {
        font-size: 3rem;
    }

    .banner-content p {
        font-size: 1rem;
        max-width: 90%;
    }

    .banner img,
    .teams-img-container img {
        width: 85%;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
        margin-right: 20px;
    }

    .teams-img-container img:hover {
        transform: scale(1.0);
    }

    .teams-content {
        padding-right: 40px;
        padding-left: 20px;
    }

    .teams-title {
        max-width: 90%;
    }

    .teams-content p {
        max-width: 80%;
    }

    .features {
        margin: 130px 20px 0 10px;
    }

    .feature-content {
        margin-left: 10px;
    }

    .feature-content p {
        max-width: 80%;
    }

    .feature-content .card {
        margin-left: 20px;
        width: 220px;
        padding: 20px;
    }

    .feature-content .card p {
        max-width: 90%;
    }

    .feature-img img {
        width: 90%;
        margin-left: 5px;
    }

    .ten-year-badge {
        position: static;
        max-width: 220px;
    }

    .facts {
        margin-left: 20px;
    }

    .facts p {
        max-width: 90%;
    }

    .facts-card-container {
        justify-content: left;
        padding-right: 50px;
        padding-left: 10px;
    }

    .facts-card-container .card {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .sponsors {
        text-align: left;
    }

    .sponsors h3 {
        margin-left: 10px;
    }

    .sponsors p {
        max-width: 90%;
        margin-left: 10px;
    }

    .footer {
        width: 80%;
        margin: 50px 20px 0px;
    }

    .footer-title {
        padding: 30px 10px;
        font-size: 1rem;
    }

    .teams-img-container img:hover,
    .feature-content .card:hover,
    .ten-year-badge:hover,
    .facts-card-container .card:hover,
    .footer:hover {
        transform: scale(1.0);
    }

}

/* tablet or medium devices */
@media screen and (min-width:577px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .features,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    nav {
        justify-content: left;
        align-items: flex-start;
        margin-left: 80px;
    }

    nav>ul {
        margin-left: -30px;
    }

    .banner-content {
        text-align: center;
    }

    .banner-title {
        font-size: 3rem;
    }

    .banner-content p {
        font-size: 1rem;
        max-width: 100%;
    }

    .banner img {
        width: 100%;
    }

    .teams-img-container img {
        width: 100%;
    }

    .feature-img img {
        width: 80%;
        margin-left: 50px;
    }

    .ten-year-badge {
        margin-left: 20px;
    }

    .ten-year-badge:hover {
        transform: scale(1.0);
    }

    .teams-img-container {
        margin-right: 50px;
    }

    .teams-content {
        padding-right: 40px;
        padding-left: 20px;
    }

    .teams-title {
        max-width: 90%;
    }

    .teams-content p, 
    .feature-content p,
    .facts p {
        max-width: 80%;
    }

    .feature-content h3 {
        max-width: 60%;
    }

    .feature-content .card {
        margin-top: 30px;
        width: 400px;
    }

    .facts-card-container .card-title {
        margin-left: 20px;
    }

    .facts-card-container {
        justify-content: center;
        padding-left: 70px;
    }

    .facts-card-container .card {
        width: 250px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .sponsors {
        text-align: center;
    }

    .sponsors p {
        max-width: 70%;
        margin-left: 80px;
    }

    .footer {
        width: 80%;
    }

    .footer-title {
        padding: 30px 10px;
        font-size: 1rem;
    }

    @media screen and (min-width:712px) {
        nav {
            justify-content: center;
            align-items: center;
            margin-left: 0px;
        }
    
        nav>ul {
            margin-left: -10px;
        }

        .facts-card-container {
            justify-content: center;
            padding-left: 120px;
        }

    }
}

@media screen and (min-width:961px) and (max-width:1200px) {
    header {
        padding: 50px 150px;
    }

    .teams-img-container img {
        width: 220px;
    }

    .teams-content {
        padding-right: 0px;
        padding-left: 30px;
        max-width: 40%;
    }

    .features {
        gap: 20px;
    }

    .feature-content {
        max-width: 30%;
    }

    .feature-content .card {
        margin: 50px 0 50px 20px;
    }

    .feature-content .card:hover,
    .ten-year-badge:hover {
        transform: scale(1.0);
    }

    .feature-img img {
        width: 550px;
        border-radius: 8px;
        height: 90%;
        margin-left: 20px;
    }

    .facts p{
        max-width: 90%;
    }

    .facts-card-container {
        margin-right: 50px;
    }

    .facts-card-container .card {
        width: 140px;
        margin-right: 20px; 
    }
    
    .facts-card-container .card-stats {
        font-size: 2rem;
    }
    
    .facts-card-container .card-title {
        font-size: 1rem;
        text-align: center;
        margin: 5px 20px 0 10px;
        white-space: nowrap;
    }

    .sponsors p {
        max-width: 80%;
        margin-left: 100px;
    }
    
    .sponsors-img-container {
        display: flex;
        justify-content:center;
        align-items: center;
    }
    
    .sponsors-img-container img {
        width: 140px;
    }

    .footer {
        width: 80%;
    }

    .footer-title {
        padding: 30px 10px;
        font-size: 1rem;
    }
}